body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* CSS personalizado */
.bg-beige {
  background-color: #efeeea;
}

.bg-white {
  background-color: #fff;
}

.btn-custom-green {
  background-color: #556b2f;
  color: #fff;
}

.btn-custom-green:hover,
.btn-custom-green:focus {
  background-color: #8fbc8b;
}